.name {
    font-weight: bold;
    }

.value {
    color: red;
    }

.main_content {
    padding: 20px;
    }

nav {
    background-color: #000;
    padding: 10px;
    font-size: 20px;
    }

nav > a {
    color: white;
    margin-right: 10px;
    }